@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-akaya: var(--font-akaya-kanadaka);
}

body {
	background: var(--background);
	color: var(--foreground);
}

@keyframes scan {
	0% {
		top: 20%;
	}
	50% {
		top: 75%;
	}
	100% {
		top: 20%;
	}
}

.animate-scan {
	animation: scan 2s ease-in-out infinite;
	position: absolute;
}
